.banner {
  padding: 85px 0 95px;
  background: url('../img/banner-bg.jpg') no-repeat center;
  background-size: cover;

  color: $white;
  text-align: center;

  &__title {
    margin-bottom: 30px;

    font-size: 70px;
    line-height: 1.2;
    font-weight: 900;
  }

  &__subtitle {
    margin-bottom: 37px;

    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
  }
}