.machine {
  margin: 80px 0 122px 0;

  &__text {
    margin-bottom: 69px;
    line-height: 1.3125;
  }

  img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  }
}

@media (max-width: 767px) {
  img {
    margin: 0 auto;
  }
}